.hero-slider {
  .slick {
    margin-bottom: 0;
  }
  .slick-dots {
    bottom: map-get($grid-column-gutter, small);
    @include breakpoint(medium) {
      bottom: map-get($grid-column-gutter, medium);
    }
    li.slick-active {
      button {
        background-color: $accent-color;
        &::before {
          content: "";
          display: none;
        }
      }
    }
    li {
      button {
        background-color: $white;
        &::before {
          content: "";
          display: none;
        }
      }
    }
  }
  .slick-slide {
    height: auto;
    position: relative;
  }
  .centered-content {
    color: $accent-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    padding: map-get($grid-column-gutter, small);
    @include breakpoint(medium) {
      padding: map-get($grid-column-gutter, medium);
    }
    h2 {
      font-size: 64px;
      font-weight: bold;
      text-shadow:
        -2px -2px 0 $white,
        2px -2px 0 $white,
        -2px 2px 0 $white,
        2px 2px 0 $white;
    }
    a {
      font-size: rem-calc(64px);
      text-shadow:
        -2px -2px 0 $white,
        2px -2px 0 $white,
        -2px 2px 0 $white,
        2px 2px 0 $white;
      color: $accent-color;
      &:hover {
        color: $primary-color;
      }
    }
  }
}