.hero-slider {
  .slick {
    margin-bottom: 0;
  }
  .slick-dots {
    bottom: rem-calc(8px);
    @include breakpoint(medium) {
      bottom: map-get($grid-column-gutter, medium);
    }
    li.slick-active {
      button {
        background-color: $accent-color;
        &::before {
          content: "";
          display: none;
        }
      }
    }
    li {
      @include breakpoint(small only){
        width: rem-calc(12px);
        height: rem-calc(12px);
      }
      button {
        background-color: $white;
        &::before {
          content: "";
          display: none;
        }
        @include breakpoint(small only){
          width: rem-calc(12px);
          height: rem-calc(12px);
        }
      }
    }
  }
  .slick-slide {
    height: auto;
    position: relative;
  }
  .centered-content {
    color: $accent-color;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 0 map-get($grid-column-gutter, small);
    top: rem-calc(8px);
    @include breakpoint(medium) {
      top: 50%;
      transform: translateY(-50%);
      padding: map-get($grid-column-gutter, medium);
    }
    h2 {
      font-weight: bold;
      text-shadow:
        -2px -2px 0 $white,
        2px -2px 0 $white,
        -2px 2px 0 $white,
        2px 2px 0 $white;
      font-size: 28px;
      @include breakpoint(medium) {
        font-size: 64px;
      }
    }
    a {
      text-shadow:
        -2px -2px 0 $white,
        2px -2px 0 $white,
        -2px 2px 0 $white,
        2px 2px 0 $white;
      color: $accent-color;
      font-size: rem-calc(28px);
      @include breakpoint(medium) {
        font-size: rem-calc(64px);
      }
      &:hover {
        color: $primary-color;
      }
    }
  }
}