<a href="{{ SP.WordPress.url(SP.WordPress.ID()) }}">
    <img src="{{ video.image.url }}" alt="">
    <div class="centered-content">
        <h5>{{ SP.WordPress.title(SP.WordPress.ID()) }}</h5>
    </div>
</a>