<a href="{{ SP.WordPress.url(SP.WordPress.ID()) }}">
    {{ SP.WordPress.featuredImage(false, 'teaser') }}
    <div class="centered-content">
        <h5>{{ SP.WordPress.title(SP.WordPress.ID()) }}</h5>
    </div>
</a>