{% extends 'basic.html.twig' %}
{% block content %}
    <main class="content row column text-center not-found">
        <h1><i class="fa fa-exclamation-triangle"></i> 404</h1>
        <h4>We couldn't find the page you are looking for.</h4>
    </main>
{% endblock %}