{% extends 'basic.html.twig' %}
{% block content %}
    <div class="row column">
        <main class="content text-center">
            <h1>404 Page not found</h1>
        </main>
    </div>
{% endblock %}