{% extends 'basic.html.twig' %}
{% block content %}
    <div class="row small-collapse">
        <div class="small-12 columns">
            <main class="content">
                {{ product }}
            </main>
        </div>
    </div>
{% endblock %}