@import "settings";
@import "font-awesome";
@import "foundation";
@include foundation-everything(true);
@import "supertheme";

@import "partials/header";
@import "partials/footer";
@import "partials/slider";
@import "partials/videos";
@import "partials/video-teasers";
@import "partials/gallery";
@import "partials/forums";
@import "partials/layouts";
@import "partials/woocommerce";

input::-webkit-input-placeholder {
  color: $body-font-color;
}

input:-moz-placeholder { /* Firefox 18- */
  color: $body-font-color;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: $body-font-color;
}

input:-ms-input-placeholder {
  color: $body-font-color;
}

.badge.accent {
  color: $white;
  font-weight: bold;
}


.main-content {
  overflow: hidden;
}

.shadow {
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.5);
  max-width: $global-width;
  margin: 0 auto $global-margin*2 auto;
}

.bbp-login-form {
  @include breakpoint(medium) {
    margin: 0 auto;
    max-width: 50%;
  }
  @include breakpoint(large) {
    max-width: 50%;
  }
  input[type=submit] {
    @include button(false, $primary-color);
  }
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
  opacity: 1;
}
// pagination
.pagination a:hover, .pagination button:hover {
  text-decoration: underline;
}

// forms
[type="text"]:focus, [type="password"]:focus, [type="date"]:focus,
[type="datetime"]:focus, [type="datetime-local"]:focus, [type="month"]:focus,
[type="week"]:focus, [type="email"]:focus, [type="number"]:focus, [type="search"]:focus,
[type="tel"]:focus, [type="time"]:focus, [type="url"]:focus, [type="color"]:focus, textarea:focus {

}

// responsive embedes
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// flare share
body .flare {
  background-color: $secondary-color;
}
body .flare[data-flare-skin="modern"] .flare-total {
  font-family: $header-font-family !important;
}
body .flare[data-flare-skin="modern"] .flare-total > strong {
  font-family: $header-font-family !important;
}

// fancybox
.fancybox-overlay {
  background-image: none;
  background-color: rgba($primary-color, 0.8);
}
.fancybox-skin {
  background-color: $primary-color;
  border-radius: 0;
  padding: 0 !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 1) !important;
}

// pagination
.pagination {
  text-align: center;
}
.pagination a, .pagination button {
  display: inline-block;
}

// 404
.not-found {
  h1 {
    font-size: 4rem;
    @include breakpoint(medium) {
      font-size: 8rem;
    }
  }
}

// masonry
.masonry {
  margin-left: -15px;
  margin-right: -15px;
}
.brick, .brick-sizer {
  padding: 15px;
  width: 100%;
  @include breakpoint(medium) {
    width: 50%;
  }
  @include breakpoint(large) {
    width: 33.33%;
  }
}

// bbpress
#bbpress-forums #bbp-your-profile fieldset label[for] {
  float: none;
  width: auto;
}
#bbpress-forums #bbp-your-profile fieldset input, #bbpress-forums #bbp-your-profile fieldset textarea {
  float: none;
  width: 100%;
}
#bbpress-forums #bbp-your-profile fieldset fieldset.password {
  float: none;
  width: 100%;
  display: block;
}
#bbpress-forums #bbp-your-profile fieldset {
  padding: 0;
  margin-bottom: $global-margin*2;
}
#pass-strength-result {
  display: none;
}
#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
  margin-bottom: $global-margin;
}
.bbp-form.avatar img {
  margin-bottom: $global-margin;
}
#bbpress-forums #bbp-your-profile fieldset span.description {
  width: 100%;
}
#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results {
  width: 100%;
}